
.env.local
.env.local.php
.env.test
.env.prod
.env.railway
.env.*.local


/public/bundles/
/var/
/vendor/
/var/cache/
/var/log/


/phpunit.xml
/.phpunit.cache/

config/jwt/*.pem

